$logobrown: #3B1C00;
$title-darkGreen: #67960A;
$title-lightGreen: #A3D301;
$font-white: #F3E8B2;

$color1: #6A523E;
$color2: #B39E80;
$color3: #B1BD13;
$color4: #78901C;
$color5: #7E7120;


body {
    background-image: url('images/banner1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: $font-white;
}

abbr[title] {
    border: none;
    cursor: text;
}

.panel-info {
    background-color: rgba(243, 232, 178, 0.75);
    border-color: transparent;
    color: $logobrown;

    a {
        color: $color1;
    }

    hr {
        border-top-color: $logobrown;
    }
}

small .fa {
    font-size: 10px;
}

.section {
    box-shadow: 0 0 20px $logobrown;
    position: relative;
    border-bottom: solid 10px $logobrown;
    border-top: solid 10px $logobrown;

    &:first-of-type {
        border-top: none;
    }

    &:last-of-type {
        border-bottom: none;
    }
}

.alt-section {
    background-color: #BC7C00;
}

.banner {
    margin-top: 5vh;
    margin-bottom: 5vh;
    position: absolute;
    height: 630px;
    max-width: 988px;
    width: 100vw;
    top: 0;
}

.section-body {
    background-color: #BC7C00;
    max-width: 992px;
    width: 100vw;
    padding: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

#body, #store {
}

#samples {
}

#store {

    a {
        color: $logobrown;
    }
}

[data-banner='1'] {
    background-image: url('images/banner1.jpg');
}

[data-banner='2'] {
    background-image: url('images/banner2.jpg');
}

#logo {
    background-image: url('images/Facebook-logo.jpg');
    height: 210px;
    width: 210px;
    background-size: contain;
    margin-bottom: -25px;
    position: relative;
    z-index: 1;
}

#social {

    a {
        color: $font-white;
        margin: 0 10px;

        &:hover {
            color: $title-lightGreen;
        }
    }
}

.chabom {
    font-family: "Avant Garde",Avantgarde,"Century Gothic",CenturyGothic,AppleGothic,sans-serif;

    small,
    .small {
        color: $color4;
    }
}

.row img {
    width: 100%;
    max-width: 800px;

    &.img-thumbnail {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {

    .banner {
        height: 360px;
    }

    #social {
        text-shadow: 0 0 10px $logobrown;
    }

    .section-body {
        width: calc(100vw - 30px);
        border: solid 2px $logobrown;
        box-shadow: 0 0 10px $logobrown;
        border-top: none;
        border-bottom: none;
    }

    #logo {
        height: 210px;
        width: 210px;
        margin-bottom: auto;
    }
}
